@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-display: "Satoshi", "sans-serif";
  --breakpoint-3xl: 1920px;
  --color-avocado-100: oklch(0.99 0 0);
  --color-avocado-200: oklch(0.98 0.04 113.22);
  --color-avocado-300: oklch(0.94 0.11 115.03);
  --color-avocado-400: oklch(0.92 0.19 114.08);
  --color-avocado-500: oklch(0.84 0.18 117.33);
  --color-avocado-600: oklch(0.53 0.12 118.34);
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
}
@layer base {
  h1 {
    @apply text-5xl text-blue-500 mb-5;
  }

  .dark {
    @media (prefers-color-scheme: dark) {
      color: var(--color-avocado-600);
    }
  }
}
@utility m-top-20000 {
  margin-top: 20px;
}

@utility m-header {
  margin-left: 100px;
  margin-right: 100px;
}

@utility w-costom {
  width: 500px;
}
