.Button {
  cursor: pointer;
  color: var(--primary-color);
}

.clear {
  padding: 0;
  border: none;
  background: none;
  outline: none;
}

.custom{
  border-color: var(--primary-color);
  border-radius: 20px;
  padding: 20px;
}
