.app.dark {
  --bg-color: rgb(176, 176, 201);
  --inverted-bg-color: rgb(229, 231, 149);

  --primary-color: green;
  --secondary-color: rgb(21, 79, 21);

  --inverted-primary-color: rgb(84, 36, 62);
  --inverted-secondary-color: rgb(210, 33, 192);
}
